<div class="row mt-5">
  <div class="col"></div>
  <div class="col-6 mt-5">
    <div class="card">
      <div class="card-header card-title">Login</div>
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">User Name</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              [(ngModel)]="userlogin.userName"
              name="un"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              [(ngModel)]="userlogin.password"
              name="pw"
            />
          </div>
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Check me out</label
            >
          </div>
          <button
            type="button"
            class="btn btn-primary"
            (click)="loginClicked()"
          >
            Login
          </button>
          <button
            type="button"
            class="btn btn-link float-right"
            [routerLink]="['/auth/registration']"
          >
            Create New Account
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
