<div class="card mt-2">
  <div class="card-header card-title">Create New Idea</div>
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          [(ngModel)]="ideaModel.title"
          name="title"
        />
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Description</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea"
          rows="3"
          [(ngModel)]="ideaModel.description"
          name="description"
        ></textarea>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Benefites</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          [(ngModel)]="ideaModel.benefits"
          name="benefites"
        ></textarea>
      </div>

      <div class="mb-3">
        <label for="department" class="form-label">Department</label>
        <select
          name="department"
          class="form-control"
          id="department"
          [(ngModel)]="ideaModel.departmentId"
        >
          <option [value]="null" disabled>--Select--</option>
          <option
            *ngFor="let department of departments"
            [value]="department.id"
          >
            {{ department.name }}
          </option>
        </select>
      </div>

      <button type="button" class="btn btn-primary" (click)="createIdea()">
        submit
      </button>
    </form>
  </div>
</div>
