<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Open Platform of Suggestions</a>
  </div>
</nav>
<div class="row">
  <div class="col-1">
    <div class="row bg-light">
      <div class="border col-12 p-4 text-center cursor-pointer bg-primary" [routerLink]="['/home']">
        Home
      </div>
      <div class="border col-12 p-4 text-center cursor-pointer" [routerLink]="['/idea/my-ideas']">
        My Idea
      </div>
      <div class="border col-12 p-4 text-center cursor-pointer" [routerLink]="['/idea/new-idea']">
        New Idea
      </div>
      <div class="border col-12 p-4 text-center cursor-pointer">
        Pending for Acceptance
      </div>
      <div class="border col-12 p-4 text-center cursor-pointer">
        Rating
      </div>
    </div>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <button type="button" [routerLink]="['/auth/login']" class="btn btn-primary">Login</button>
<button type="button" [routerLink]="['/auth/registration']" class="btn btn-secondary">Registration</button>
<button type="button" [routerLink]="['/home']" class="btn btn-success">Home</button>
<button type="button" [routerLink]="['/idea/my-ideas']" class="btn btn-danger">My ideas</button>
<button type="button" [routerLink]="['/idea/view-all-ideas']" class="btn btn-warning">view all ideas</button>
<button type="button" [routerLink]="['/idea/view-idea']" class="btn btn-info">view idea</button> -->