<div class="card mt-2">
  <div class="card-header card-title">
    Added New department user
  </div>
  <div class="card-body border col-12 p-8">
    <form>
      <div class=" mb-3">
        <label for="exampleInputEmail1" class="form-label">department Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="emailHelp" [(ngModel)]="department.name"
          name="name">
      </div>

      <!-- <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">department Head</label>
        <input type="text" class="form-control" id="head" aria-describedby="emailHelp" [(ngModel)]="department.head"
          name="head">
      </div> -->



      <button type="button" class="btn btn-primary" (click)="submitClicked()">
        {{isEdit==true ? 'update' : 'submit'}}</button> &nbsp;
      <button type="reset" class="btn btn-primary">
        Reset</button>
    </form>
  </div>
</div>
