/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
.cursor-pointer {
  cursor: pointer !important
}

.under-evaluation {
  background-color: #54dbad;
}
.accepted-for-implementation {
  background-color: #8c84e5;
}
.idea-already-exist {
  background-color: #46db56;;
}
.implemented {
  background-color: #d832e7;
}